<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Instituto Feluma de Educação</title>

    <!-- Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-select.min.css" rel="stylesheet">
    <link href="css/lightgallery.css" rel="stylesheet">
    <link href="css/icon-font.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="img/logo.png" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="nav navbar-nav navbar-right">
            <div class="user-data">
              <span class="user-name"><i class="fa fa-user"></i> Paulo Gentil</span>
              <span class="divider">|</span>
              <a href="login.html">sair</a>
            </div>
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <select class="selectpicker indice-select" title="Índice">
                <optgroup label="Graduação - Medicina">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Enfermagem">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Fisioterapia">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Graduação - Psicologia">
                  <option>Atas</option>
                  <option>Atividades complementares</option>
                  <option>Atividades de extensão</option>
                  <option>Corpo docente</option>
                  <option>Enade</option>
                  <option>Estágio</option>
                  <option>Projeto pedagógico de curso (PPC)</option>
                  <option>Trabalho de conclusão de curso (TCC)</option>
                </optgroup>
                <optgroup label="Dimensões -   Organização didático-pedagógica">
                  <option>Contexto educacional</option>
                  <option>Políticas institucionais no âmbito do curso</option>
                  <option>Objetivos do curso</option>
                  <option>Perfil profissional do egresso</option>
                  <option>Estrutura curricular</option>
                  <option>Conteúdos curriculares</option>
                  <option>Metodologia</option>
                  <option>Estágio curricular supervisionado</option>
                  <option>Atividades complementares</option>
                </optgroup>
                <optgroup label="Dimensões - Corpo docente e tutorial">
                  <option>Trabalho de conclusão de curso (TCC)</option>
                  <option>Apoio ao discente</option>
                  <option>Ações decorrentes dos processos de avaliação do curso</option>
                  <option>Tecnologias de Informação e Comunicação – TICs – no processo ensino-aprendizagem</option>
                  <option>Procedimentos de avaliação dos processos de ensino-aprendizagem</option>
                  <option>Número de vagas</option>
                  <option>Integração com as redes públicas de ensino</option>
                  <option>Integração do curso com o sistema local e regional de saúde/ SUS – relação alunos/docente</option>
                  <option>Integração do curso com o sistema local e regional de saúde/SUS – relação alunos/usuário</option>
                  <option>Atividades práticas de ensino</option>
                  <option>Atuação do Núcleo Docente Estruturante – NDE</option>
                  <option>Atuação do (a) coordenador (a)</option>
                  <option>Experiência profissional, de magistério superior e de gestão acadêmica do (a) coordenador (a)</option>
                  <option>Regime de trabalho do (a) coordenador (a) do curso</option>
                  <option>Carga horária de coordenação de curso</option>
                  <option>Titulação do corpo docente do curso</option>
                  <option>Titulação do corpo docente do curso – percentual de doutores</option>
                  <option>Regime de trabalho do corpo docente do curso</option>
                  <option>Regime de trabalho do corpo docente do curso</option>
                  <option>Experiência de magistério superior do corpo docente</option>
                  <option>Funcionamento do colegiado de curso ou equivalente</option>
                  <option>Produção científica, cultural, artística ou tecnológica</option>
                </optgroup>
                <optgroup label="Dimensões / Requisitos legais e normativos">
                  <option>Responsabilidade docente pela supervisão da assistência médica</option>
                  <option>Diretrizes Curriculares Nacionais do Curso.</option>
                  <option>Diretrizes Curriculares Nacionais para Educação das Relações Étnico-Raciais e para o Ensino de História e Cultura AfroBrasileira, Africana e Indígena</option>
                  <option>Diretrizes Nacionais para a Educação em Direitos Humanos</option>
                  <option>Proteção dos Direitos da Pessoa com Transtorno do Espectro Autista</option>
                  <option>Titulação do corpo docente</option>
                  <option>Núcleo Docente Estruturante (NDE</option>
                  <option>Carga horária mínima, em horas – para Bacharelados e Licenciaturas</option>
                  <option>Tempo de integralização</option>
                  <option>Condições de acessibilidade para pessoas com deficiência ou mobilidade reduzida</option>
                  <option>Disciplina de Libras</option>
                  <option>Informações acadêmicas</option>
                  <option>Políticas de educação ambiental</option>
              </select>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <ol class="breadcrumb">
        <li><a href="index.html">Inicial</a></li>
        <li>Graduação</li>
        <li class="active">Medicina</li>
      </ol>
      <h1>Medicina</h1>
      <div class="col-xs-12 col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#atas" data-toggle="tab"> Atas</a></li>
          <li><a href="#atividades-complementares" data-toggle="tab"> Atividades complementares</a></li>
          <li><a href="#atividades-extensao" data-toggle="tab"> Atividades de extensão</a></li>
          <li><a href="#corpo-docente" data-toggle="tab"> Corpo docente</a></li>
          <li><a href="#enade" data-toggle="tab"> Enade</a></li>
          <li><a href="#estagio" data-toggle="tab"> Estágio</a></li>
          <li><a href="#ppc" data-toggle="tab"> Projeto pedagógico de curso (PPC)</a></li>
          <li><a href="#tcc" data-toggle="tab"> Trabalho de conclusão de curso (TCC)</a></li>
        </ul>
      </div>
      <div class="tab-content col-xs-12 col-sm-9">

        <div id="atas" class="tab-pane active white-bg">
          <h2>Atas</h2>
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#conselho-superior" data-toggle="tab">Conselho Superior</a></li>
              <li role="presentation"><a href="#cursos" data-toggle="tab">Cursos</a></li>
              <li role="presentation"><a href="#comite" data-toggle="tab">Comitê de Gestão</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-xs-12">
              <div role="tabpanel" class="tab-pane active" id="conselho-superior">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>nome</th>
                        <th>tamanho</th>
                        <th>data</th>
                        <th>autor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Cons. Superior Medicina - parte 1</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Cons. Superior Medicina - parte 2</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Cons. Superior Medicina - parte 3</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="cursos">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>nome</th>
                        <th>tamanho</th>
                        <th>data</th>
                        <th>autor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Medicina - parte 1</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Medicina - parte 2</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Livro Ata Medicina - parte 3</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comite">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>nome</th>
                        <th>tamanho</th>
                        <th>data</th>
                        <th>autor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Comitê Medicina - parte 1</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Comitê Medicina - parte 2</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <a href="ata.pdf" class="icon-link">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                            <span>Comitê Medicina - parte 3</span>
                          </a>
                        </td>
                        <td>2mb</td>
                        <td>12/01/2017</td>
                        <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div id="atividades-complementares" class="tab-pane white-bg">
          <h2>Atividades complementares</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade complementar Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade complementar Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade complementar Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div id="atividades-extensao" class="tab-pane white-bg">
          <h2>Atividades de extensão</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade Extensão Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade Extensão Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Atividade Extensão Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div id="corpo-docente" class="tab-pane white-bg">
          <h2>Corpo Docente</h2>
          <div class="well">
            <form class="form">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar em corpo docente">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ademar Candido De Oliveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Alberto Julius Alves Wainstein</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Alessandra Maciel Almeida</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Alexandre De Aguiar Ferreira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Alvaro Luiz Lage Alves</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ana Carolina Sarquis Salgado</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ana Paula Drummond Lage Wainstein</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ana Paula P Chagas Fernandes</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Anna Carolina Dias Munaier Lages</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Antonio De Padua Claret Salomao</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Antonio Eugenio Motta Ferrari</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Antonio Fernandes Lages</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Antonio Sergio Alves</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Antonio Vieira Machado</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Augusto Scalabrini Neto</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Benito Pio Vitorio Ceccato Junior</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Bruno Almeida De Rezende</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Bruno Cópio Fábregas</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Bruno Horta Andrade</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Carlos Alberto Mota Valadares</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Cesar Azevedo Carneiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Cirenio De Almeida Barbosa</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Claudia Caciquinho Vieira De Souza</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Claudia Teixeira Da Costa Lodi</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Clecio Enio Murta De Lucena</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Cristiane Rodrigues Correa</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">David De Padua Brasil</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Dorival Fagundes Filho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Eduardo Back Sternick</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Eduardo Cunha Da Fonseca</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Eleuza Maria Das Dores E Silva</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Emanuel Vitor Guimaraes</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Euler Pace Lasmar</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Evaldo Nascimento</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fabio Gontijo Rodrigues </h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fabio Nishimura Kanadani</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fabio Pimentel Martins</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Fabricio Leite De Carvalho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Flavio Lopes Ferreira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Florentino Fernandes Junior</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Francisco Jose F Da Silveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Geraldo Magela Gomes Da Cruz</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Glauco Sobreira Messias</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Gustavo Azeredo F Werneck</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Gustavo Vaz De Oliveira Moraes</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Hilda Maria De Oliveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Homero Caporali De Oliveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Hudson De Araujo Couto</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Janaine Cunha Polese</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jaqueline Marques Lara Barata</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Joao Carlos Barbosa Machado</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Celso Cunha Guerra Pinto Coelho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Codo Albino Dias</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Eduardo Fernandes Tavora</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Geraldo Leite Ribeiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Ivany Dos Santos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Marcio Ribeiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Mariano Sales A Junior</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Jose Mauro Nogueira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Juliana De Fatima Araujo Pinheiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Julio De Melo Cavestro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Julio Dias Valadares</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Junia Rios Garib</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Leandro Duarte De Carvalho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Leila De Fatima Santos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Liana Mara Nunes Lana</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Liliane Dias Belligoli Senra</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lucelia Coimbra Da Silva</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Luciana De Oliveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Lucianna Magalhaes De Almeida</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Luiz Rogerio Gomes Aranha</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Luiz Wellington Pinto</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Maira Tonidandel Barbosa</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcelo Castro Alves De Sousa</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcelo Pazzini Lobo De Freitas</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcilene Rezende Silva</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcio Arruda</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcio Costa Diniz</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marco Antonio Rocha Junior</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcos Antonio Dellaretti Filho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcus Faria Lasmar</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marcus Vinicius Bolivar Malachias</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Maria Carolina Lobato Machado</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Maria Da Gloria R Machado</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Maria Do Carmo Friche Passos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Maria Elice Nery Procopio</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Mariane Borlido Haddad</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marilia De Freitas Maakaroun</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Mario Dias Correa</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Marisa Fonseca Magalhaes</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Mauro Carneiro De Freitas</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Mauro Marcos Sander Leduc</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Max Andre Dos Santos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Monica V. Nunes Pinheiro De Queiroz</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Natanael Guedes Filho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Navantino Alves Filho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Neli Sueli Teixeira De Souza</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Neylor Pace Lasmar</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Nilo Garonci Alves</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Nulma Souto Jentzsch</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Osvaldo Lucas F Sampaio</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Osvaldo Mendes De Souza Junior</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Oswaldo Fortini Levindo Coelho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paula Lustosa Martins</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paula Piedade Garcia</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paulo Cesar Pinho Ribeiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Paulo Roberto Roscoe Papini</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rafael Duarte Silva</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ramon Luiz Braga Dias Moreira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Raquel Aparecida Salustriano Fabreti De Oliveira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Raquel Virginia Rocha Vilela</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Reinaldo De Oliveira Sieiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Renata Noce Kirkwood</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Renato Santos Laboissiere</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ricardo Mello Marinho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Ricardo Neves Godinho</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Roberta Leste Motta</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rodrigo Camargos Couto</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rodrigo Campos Pace Lasmar</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rodrigo Moreira Faleiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Sandra Regina Quintino Dos Santos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Savio Lana Siqueira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Sinara Monica De Oliveira Leite</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Tania Clarete Fonseca Vieria Sales Sampaio</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Thales Bittencourt De Barcelos</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Tulio Canella Bezerra Carneiro</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Valeria De Melo Ferreira</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Valerio Trindade Lopes De Moura</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Walter Antonio Prata Pace</h4>
            </div>
          </a>
          <a href="professor.html" class="media">
            <div class="media-left">
              <!-- <img src="img/avatar-professor.jpg" class="avatar-pic img-circle" /> -->
              <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Wellerson Duraes De Alkimin</h4>
            </div>
          </a>
        </div>


        <div id="enade" class="tab-pane white-bg">
          <h2>Enade</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Enade Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Enade Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Enade Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div id="estagio" class="tab-pane white-bg">
          <h2>Estágio</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Estágio Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Estágio Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>Estágio Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div id="ppc" class="tab-pane white-bg">
          <h2>Projeto pedagógico de curso</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>PPC Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>PPC Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>PPC Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div id="tcc" class="tab-pane white-bg">
          <h2>Trabalho de conclusão de curso</h2>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>nome</th>
                  <th>tamanho</th>
                  <th>data</th>
                  <th>autor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>TCC Medicina - parte 1</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>TCC Medicina - parte 2</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <a href="ata.pdf" class="icon-link">
                      <i class="fa fa-file-pdf-o fa-2x"></i>
                      <span>TCC Medicina - parte 3</span>
                    </a>
                  </td>
                  <td>2mb</td>
                  <td>12/01/2017</td>
                  <td><a href="mailto:tatianarezende@gmail.com">Tatiana Rezende</a></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/lg-zoom.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>